/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8b5cf6;
  --ifm-color-primary-dark: #7c3aed;
  --ifm-color-primary-darker: #6d28d9;
  --ifm-color-primary-darkest: #5b21b6;
  --ifm-color-primary-light: #a78bfa;
  --ifm-color-primary-lighter: #c4b5fd;
  --ifm-color-primary-lightest: #ddd6fe;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(139, 92, 246, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a78bfa;
  --ifm-color-primary-dark: #8b5cf6;
  --ifm-color-primary-darker: #7c3aed;
  --ifm-color-primary-darkest: #6d28d9;
  --ifm-color-primary-light: #c4b5fd;
  --ifm-color-primary-lighter: #ddd6fe;
  --ifm-color-primary-lightest: #ede9fe;
  --docusaurus-highlighted-code-line-bg: rgba(167, 139, 250, 0.2);
}
